<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/test.css" />
    <title>App</title>
  </head>
  <body>
    <header><h1>OAuth2.0 연구소</h1></header>
    <div id="main-div">
      <div id="login">
        <p>로그인 성공!</p>
        <p>{{ login }}</p>
        <img id="github-image"src="https://avatars.githubusercontent.com/u/43634786?v=4"/>
      </div>
    </div>
  </body>
</html>